*{
    padding: 0;
    margin: 0;
}

.list-container{
    display: flex;
    justify-content: center;
}

.item{
    position: relative;
    height: 100px;
    background-color: #666;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 1px;
    cursor: pointer;

    &.selected{
        background-color: #f00;
    }
}